.info-view {
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  max-width: 35vw;
  margin: auto;
}

.info-view div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.info-view p {
  width: 13rem;
  word-wrap: break-word;
  text-align: start;
}
